APP_ENV=local
APP_URL=http://localhost/FluxDrive/public

DB_HOST=127.0.0.1
DB_NAME=fluxdrive
DB_USER=root
DB_PASSWORD=

AWS_REGION=ap-south-1
AWS_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost/FluxDrive/public/auth/google-callback.php

SESSION_LIFETIME=7200
STORAGE_QUOTA_BYTES=10737418240
MAX_UPLOAD_BYTES=524288000
